<!-- END CHANGEABLE CONTENT. -->
<?php // Script 13.4 - footer.html

// Display general admin links...
// - if the user is an administrator and it's not the logout.php page
// - or if the $loggedin variable is true (i.e., the user just logged in)
if ( (is_administrator() && (basename($_SERVER['PHP_SELF']) != 'logout.php')) 
OR (isset($loggedin) && $loggedin) ) {

	// Create the links:
	print '<hr><h3>Site Admin</h3>
	<h3><a href="add_info.php">Add Student Information</a> &nbsp;&nbsp;
	   <a href="view_info.php">View All Students Information</a> &nbsp;&nbsp;
	   <a href="logout.php">Logout</a></h3>';
}

?>
	</div><!-- container -->
	<div id="footer">Content &copy; 2020</div>
</body>
</html>